[submodule ".config/awesome/module/bling"]
	path = .config/awesome/module/bling
	url = https://github.com/BlingCorp/bling.git
[submodule ".config/awesome/module/rubato"]
	path = .config/awesome/module/rubato
	url = https://github.com/andOrlando/rubato.git
[submodule ".config/awesome/lain"]
	path = .config/awesome/lain
	url = https://github.com/lcpz/lain
[submodule ".config/awesome/module/sharedtags"]
	path = .config/awesome/module/sharedtags
	url = https://github.com/Drauthius/awesome-sharedtags.git
[submodule ".config/awesome/module/awesomewm-micky"]
	path = .config/awesome/module/awesomewm-micky
	url = https://github.com/basaran/awesomewm-micky.git
[submodule ".config/ranger/plugins/fzf-filter"]
	path = .config/ranger/plugins/fzf-filter
	url = https://github.com/MuXiu1997/ranger-fzf-filter.git
[submodule ".config/ranger/plugins/archives"]
	path = .config/ranger/plugins/archives
	url = https://github.com/MuXiu1997/ranger-fzf-filter.git
[submodule ".config/ranger/plugins/fzf-marks"]
	path = .config/ranger/plugins/fzf-marks
	url = https://github.com/laggardkernel/ranger-fzf-marks.git
[submodule ".config/ranger/plugins/devicons"]
	path = .config/ranger/plugins/devicons
	url = https://github.com/cdump/ranger-devicons2.git
[submodule ".config/ranger/plugins/fzf-archives"]
	path = .config/ranger/plugins/fzf-archives
	url = https://github.com/maximtrp/ranger-archives.git
[submodule ".config/xournalpp/plugins/vi"]
	path = .config/xournalpp/plugins/vi
	url = https://github.com/raw-bacon/vi-xournalpp.git
[submodule ".config/tmux/tpm"]
	path = .config/tmux/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule ".config/yazi/plugins/bookmarks.yazi"]
	path = .config/yazi/plugins/bookmarks.yazi
	url = https://github.com/dedukun/bookmarks.yazi.git
[submodule ".config/emacs"]
	path = .config/emacs
	url = https://github.com/Stefanomarton/.emacs.git
