[submodule ".config/awesome/module/bling"]
	path = .config/awesome/module/bling
	url = https://github.com/BlingCorp/bling.git
[submodule ".config/awesome/module/rubato"]
	path = .config/awesome/module/rubato
	url = https://github.com/andOrlando/rubato.git
[submodule ".config/awesome/lain"]
	path = .config/awesome/lain
	url = https://github.com/lcpz/lain
