.config/ranger/colorschemes/__pycache__/__init__.cpython-310.opt-1.pyc
.config/ranger/colorschemes/__pycache__/dracula.cpython-310.opt-1.pyc
.config/ranger/plugins/__pycache__
.config/ranger/colorschemes/__pycache__
.config/ranger/plugins/fzf_marks/__pycache__
.config/ranger/plugins/devicons2/__pycache__
.config/ranger/__pycache__
.config/zsh/.zcompdump
.config/nvim/plugin
.config/emacs/elpa
.config/lazygit/state.yml
.config/pcmanfm/default
