$color0: #060D14;
$color1: #55697A;
$color10: #83758D;
$color11: #CA6076;
$color12: #8DB0CC;
$color13: #E5B0B8;
$color14: #DCFEFF;
$color15: #E5F6F7;
$color2: #7B7282;
$color3: #A66270;
$color4: #6A8499;
$color5: #AC848A;
$color6: #A5BFBF;
$color7: #E5F6F7;
$color8: #A0ACAD;
$color9: #5E798F;
$background: #000108;
$cursor: #F3FFFF;
$foreground: #F3FFFF;
