$color0: #000006;
$color1: #954DA2;
$color10: #61A5B3;
$color11: #9BB0CF;
$color12: #80C1BE;
$color13: #EDDCEE;
$color14: #CBE1E6;
$color15: #D0EFF6;
$color2: #427D8A;
$color3: #5D80B1;
$color4: #4EA19E;
$color5: #C58DC8;
$color6: #83B6C3;
$color7: #D0EFF6;
$color8: #91A7AC;
$color9: #B983C3;
$background: #000006;
$cursor: #E4FAFF;
$foreground: #E4FAFF;
