$color0: #272e33;
$color1: #2e383c;
$color2: #414b50;
$color3: #859289;
$color4: #9da9a0;
$color5: #d3c6aa;
$color6: #edeada;
$color7: #fffbef;
$color8: #e67e80;
$color9: #e69875;
$color10: #dbbc7f ;
$color11: #a7c080 ;
$color12: #83c092 ;
$color13: #7fbbb3 ;
$color14: #d699b6 ;
$color15: #9da9a0 ;
$background: #272e33;
$cursor: #F1EBD5;
$foreground: #fffbef;
