* {
  font-family: "JuliaMono";
  font-size: 20px;
}

window {
  /* border: 2px solid #bd93f9; */
  background-color: #000000;
}

#input {
  border: none;
  color: #f8f8f2;
  background-color: #000000;
}

#inner-box {
  /* margin: 15px; */
  border: none;
  background-color: #000000;
}

#outer-box {
  margin: 15px;
  background-color: #000000;
}

/* #scroll { */
/* margin: 0px; */
/* border: none; */
/* } */

#text {
  /* margin: 5px; */
  border: none;
  color: #f8f8f2;
}

#entry:selected {
  margin: -10px;
  background-color: #000000;
}
